/* Style for the list */
ul {
  list-style: none;
  padding: 0;
}

/* Style for each list item */
li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(42, 195, 255, 0.234);
  padding: 0.3em;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  box-shadow:rgba(56, 56, 56, 0.562) 5px 3px;
}

/* Style for the checkbox */
/* Style for the checkbox */
input[type="checkbox"] {
  appearance: none;
  width: 17px;
  height: 17px;
  border: 1px solid #2a2a2a7c;
  border-radius:5px;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  position: relative;
  margin-bottom:2px;
}

input[type="checkbox"]:checked {
  background-color: #4caf50;
  border-color: #65ec69ab;
  

}

/* Style for the checkmark (hidden in this case) */
input[type="checkbox"]::before {
  content: "\2713";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  opacity: 0; /* Hidden by default */
}

input[type="checkbox"]:checked::before {
  opacity: 0.5; /* Displayed when checked */
}

/* Style for the label */
label {
  display: flex;
  cursor: pointer;
  font-size: 15px; /* Adjust font size as needed */
  margin-top:3px;
}

/* Style for the delete button */
.delete {
  margin-left: auto; /* Push delete button to the right */
  cursor: pointer;
  font-size: 15px;
  color: rgba(255, 0, 0, 0.644);
}
.empty{
    color:rgba(255, 0, 0, 0.658);
    margin:1em;
}